@import 'reset.css';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
@import 'status-bar.css';
@import 'header.css';
@import 'nav-bar.css';
@import 'friend.css';
@import 'friends.css';
@import 'find.css';
@import 'more.css';

* {
  box-sizing: border-box; /*box안에 padding을 추가해도 box size가 바뀌지 않게해줌.*/
}

body {
  background-color: white;
  padding: 10px 20px;
  color: #020202;
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}

a {
  color: inherit; /*부모 요소로부터 색깔을 받아온다는 의미*/
  text-decoration: none;
}
